<h2>Create a new position</h2>

<%= form_for(@position) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <h3>Steps template</h3>

  <% 4.times do |n| %>
    <%= label_tag "steps_template_#{n}_order", 'Order' %>
    <%= text_field_tag "steps_template[#{n}][order]" %>

    <%= label_tag "steps_template_#{n}_title", 'Title' %>
    <%= text_field_tag "steps_template[#{n}[title]" %>

    <%= label_tag "steps_template_#{n}_description", 'Description' %>
    <%= text_field_tag "steps_template[#{n}[description]" %>

    <hr/>
  <% end %>

  <%= f.submit 'Create', class: "button" %>
<% end -%>
