<h2>Create a new position</h2>

<%= form_for(@position) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>
  <hr>

  <h3>Recruiting Steps</h3>

  <div class="step-form"></div>

  <div class="step-actions">
    <a href="#" id="addstep" class="button">Add step</a>
  </div>

  <!--% end %-->

  <%= f.submit 'Create', class: "button" %>
<% end -%>


<script type="template" id='step-template'>
  <h3>New step</h3>

  <%= label_tag 'Order' %>
  <%= text_field_tag "steps_template[ITERATOR][order]" %>

  <%= label_tag 'Title' %>
  <%= text_field_tag "steps_template[ITERATOR][title]" %>

  <%= label_tag 'Description' %>
  <%= text_field_tag "steps_template[ITERATOR][description]" %>
  <hr>
</script>

<script type="text/javascript">
  function addFieldset(e) {
    e.preventDefault();

    var timestamp = new Date();
    var preTemplate = $('#step-template').html();
    var regexp = new RegExp('ITERATOR', 'g');
    var template = preTemplate.replace(regexp, +timestamp);

    $('.step-form').append(template);
  }

  $('#addstep').on('click', addFieldset);
</script>
