<h2>Create a new position</h2>

<%= form_for(@position) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit 'Create', class: "button" %>
<% end -%>
