<%= render 'positions/position_data', position: Position.new(title: 'Test', description: 'Test Data', created_at: DateTime.current) %>

<section class="candidate recruitment">
  <%= avatar(@recruitment.candidate.avatar, size: "96", alt: @recruitment.candidate.name, class: "profile-picture ib") %>

  <div class="info">
    <h3 class="ib"><%= @recruitment.candidate.name %></h3>

    <div class="participants">
      <% @recruitment.participants.each do |participant| %>
        <%= avatar(participant.avatar, size: "32", alt: participant.name) %>
      <% end %>
    </div>

    <div class="progress-bar">
      <span class="progress" style="width: <%= @recruitment.progress %>%"></span>
    </div>
  </div>
</section>

<section class="steps">
  <ol>
    <% @recruitment.steps.order(:order).each do |step| %>
      <%
        step_html_class = [step.state]
        step_html_class << 'next-step' if step == @recruitment.next_step
      %>

      <%= content_tag :li, class: step_html_class do %>
        <%= link_to step.title, "#" %>
      <% end %>
    <% end %>
  </ol>
</section>
