<section class="candidate recruitment">
  <%= image_tag @recruitment.candidate.avatar, alt: @recruitment.candidate.name, title: @recruitment.candidate.name, class: "profile-picture ib" %>

  <div class="info">
    <h3 class="ib"><%= @recruitment.candidate.name %></h3>
    <div class="participants">
      <% @recruitment.participants.each do |participant| %>
        <%= image_tag participant.avatar, alt: participant.name, title: participant.name %>
      <% end %>
    </div>
    <div class="progress-bar"><span class="progress" style="width: <%= @recruitment.progress %>%"></span></div>
  </div>
</section>

<hr>

<section class="steps">
  <ol>
    <% @recruitment.steps.order(:order).each do |step| %>
      <li>
        <%= link_to step.title, "#", class: step.state %>
      </li>
    <% end %>
  </ol>
</section>

<hr>

<section class="action">
  <a href="#" class="button reproved">Reprove Candidate 🚫</a>
  <a href="#" class="button approved">Approve Candidate ✅</a>
</section>

<hr>
