<section class="candidate recruitment step">
  <%= avatar(@step.recruitment.candidate.avatar, size: "96", alt: @step.recruitment.candidate.name, class: "profile-picture ib") %>

  <div class="info">
    <h3 class="ib"><%= @step.recruitment.candidate.name %></h3>
    <div class="progress-bar">
      <span class="progress" style="width: <%= @step.recruitment.progress %>%"></span>
    </div>
  </div>
</section>

<section class="step-info">
  <h4><span class="step-indicator"><%= @step.order %></span> <%= @step.title %></h4>
  <p><%= @step.description %></p>
</section>

<section class="comments">
  <h5>Comments about the candidate</h5>

  <div class="comments-wrapper">
    <% @step.comments.each do |comment| %>
      <article>
        <div class="meta">
          <%= avatar(comment.author.avatar, size: "48", alt: comment.author.name, class: "profile-picture ib") %>
          <h6 class="name"><%= comment.author.name %></h6>
          <p class="timestamp"><%= l comment.created_at, format: :long %></p>
        </div>

        <div class="comment-content">
          <%= sanitize comment.body %>
        </div>
        <hr>
      </article>
    <% end %>

    <div class="comment-form">
      <div class="meta">
        <%= avatar(current_user.avatar, size: "48", alt: current_user.name, class: "profile-picture ib") %>
        <h6 class="name"><%= current_user.name %></h6>
      </div>

      <div class="elements">
        <%= form_for Comment.new do |f| %>
          <%= hidden_field_tag :recruitment_step_id, @step.id %>

          <label for="commentBox">Write your comment</label>
          <div id="commentBox" class="textarea" contenteditable></div>
          <%= f.text_area :body, class: 'theComment' %>

          <div class="actions">
            <%= f.submit 'Post', class: 'button' %>
              <div class="separator">
                <button class="button approve">Approve</button>
                <button class="button reprove">Reprove</button>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<script>
  var commentElement = document.querySelector('.textarea'),
    textArea = document.querySelector('#comment_body');

    if(commentElement) {
      commentElement.addEventListener('keyup', function(e) {
      textArea.value = commentElement.innerHTML;
    }, false);
  }
</script>
