<!DOCTYPE html>
<html>
<head>
  <title>Timbu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>timbu</h1>

  <section class="messages">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </section>

  <% if user_signed_in? -%>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
  <% end -%>

  <h2>Position: <span>Web Developer</span></h2>

  <section class="description">
    <ul>
      <li class="meta">Published: <span>08/22/2014</span></li>
      <li class="candidates-count">Candidates: <span class="active">active: 3</span> &middot; <span class="all">total: 8</span></li>
    </ul>
  </section>
  <hr>

  <%= yield %>
</body>
</html>
